body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(82, 104, 230);
    margin: 0%;
    
}
.color-change{
   color:darkred;
}
.flexible-container{
    display: flex;
  
}

    

.half-width{
    width:50%;
    padding: 3%;
}
.half-width img{
    width:30%;
    
}
.link-button{
    text-decoration: none;
    padding: 10px,40px;
    color:azure;
    background-image:linear-gradient(rgb(97, 4, 4),rgb(160, 14, 153));
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow:10px 10px 50px darkred;
    width: 50%;
    margin: 5%;
    padding:50px;
   
}


.experience{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-developer-experience{
    border-image: linear-gradient(red,orange);
    border-left: 5px solid;
    border-image-slice: 1;
}
#stack-developer-experience{
    border-left: 5px solid;
    border-image: linear-gradient(blue,aqua);
    border-image-slice:1;
}
footer p{
    text-align: center;
}












    
    
