h1{
    font-family: 'Oswald', sans-serif;
}
.color-change{
   color:darkred;
}
section{
    display:flex;
    
}
.half-width{
    width:50%;
    padding: 3%;
}
.half-width img{
    width:30%;
}
.link-button{
    text-decoration: none;
    padding: 10px,40px;
    color:azure;
    background-image:linear-gradient(rgb(97, 4, 4),rgb(160, 14, 153));
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
    
    
